<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Marca o título -->
        <a class="navbar-brand" href="{% url 'index' %}">Inventario</a>

        <!-- Botón hamburguesa (para móviles) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'estructura_list' %}">Estructuras</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'estructura_create' %}">Agregar Estructura</a>
            </li>
        </ul>
        </div>
    </div>
</nav>

